<div class="formulario-catalogo-floristeria">
  <div class="fondo-subtitulo">
    <h3>Catalogo de floristeria</h3>
  </div>

  <form class="insert-flor-catalogo-floristeria">
    <h4>Datos iniciales</h4>
    <div>
      <h5>Para que floristeria desea ingresar una flor en el catalogo?</h5>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              @if (nombreFloristeriaSeleccionada) {
              {{ nombreFloristeriaSeleccionada }}
              } @else { Floristeria }
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              @for (f of listaDeFloristerias; track f.id_floristeria) {
              <button
                ngbDropdownItem
                type="button"
                (click)="
                  $event.stopPropagation();
                  setFloristeria(f.id_floristeria, f.nombre_floristeria)
                "
              >
                {{ f.nombre_floristeria }}
              </button>
              } @empty {
              <button ngbDropdownItem [disabled]="true">Cargando...</button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>Datos de la flor de corte</h4>
    <div class="seccion-form">
      <h5>Ingrese nombre propio</h5>
      <input
        class="form-control"
        id="entradatextonombre"
        placeholder="Nombre"
        type="text"
        [(ngModel)]="nombreFlorNueva"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="seccion-form">
      <h5>Cual es el tipo de flor de corte a registrar?</h5>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              @if(especieFlorSeleccionada) {
              {{ especieFlorSeleccionada }}
              } @else { Especie de flor de corte }
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              @for (f of listaDeFlores; track f.id_flor_corte) {
              <button
                ngbDropdownItem
                type="button"
                (click)="
                  $event.stopPropagation();
                  setFlor(f.id_flor_corte, f.genero_especie)
                "
              >
                {{ f.genero_especie }}
              </button>
              } @empty {
              <button ngbDropdownItem [disabled]="true">Cargando...</button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="seccion-form">
      <h5>De que color es la flor a registrar?</h5>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              @if (nombreColorSeleccionado) {
              {{ nombreColorSeleccionado }}
              } @else { Color }
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              @for (c of listaDeColores; track c.codigo_color) {
              <button
                ngbDropdownItem
                type="button"
                (click)="
                  $event.stopPropagation();
                  setCodigoColor(c.codigo_color, c.nombre)
                "
              >
                {{ c.nombre }}
              </button>
              } @empty {
              <button ngbDropdownItem [disabled]="true">Cargando...</button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="seccion-form">
      <h5>Precio inicial en euros (unitario)</h5>
      <input
        class="form-control"
        type="number"
        placeholder="Precio"
        min="0"
        step="0.01"
        [(ngModel)]="precioInicialFlorNueva"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="seccion-form">
      <h5>Tamaño de tallo (centímetros)</h5>
      <input
        class="form-control"
        type="number"
        placeholder="Tamaño"
        min="0"
        step="0.01"
        [(ngModel)]="tamanoTalloFlorNueva"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <button
      type="button"
      class="btn btn-success boton-aceptar"
      (click)="agregarACatalogo()"
    >
      Aceptar
    </button>
  </form>
</div>
