<div class="formulario-catalogo-floristeria">
  <div class="fondo-subtitulo">
    <h3>Catálogo de productor</h3>
  </div>

  <form class="insert-flor-catalogo-floristeria">
    <h4>Datos iniciales</h4>
    <div>
      <h5>¿Para qué productor desea ingresar una flor en el catálogo?</h5>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              @if (nombreProductorSeleccionado) {
              {{ nombreProductorSeleccionado }}
              } @else { Productor }
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              @for (f of listaDeProductores; track f.id_prod) {
              <button
                ngbDropdownItem
                type="button"
                (click)="
                  $event.stopPropagation();
                  setProductor(f.id_prod, f.nombre_prod)
                "
              >
                {{ f.nombre_prod }}
              </button>
              } @empty {
              <button ngbDropdownItem [disabled]="true">Cargando...</button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>Datos de la flor de corte</h4>

    <div class="dos-columnas">
      <div class="columna">
        <div class="seccion-form">
          <h5>Ingrese el VBN único // VBN generado</h5>
          <input
            class="form-control"
            id="entradatextonombre"
            placeholder="VBN"
            type="number"
            [(ngModel)]="vbnFlorNueva"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="seccion-form">
          <h5>Ingrese el nombre propio</h5>
          <input
            class="form-control"
            id="entradatextonombre"
            placeholder="Nombre propio"
            type="text"
            [(ngModel)]="nombrePropioFlorNueva"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="seccion-form">
          <h5>Ingrese una breve descripción</h5>
          <input
            class="form-control"
            id="entradatextonombre"
            type="text"
            [(ngModel)]="descripcionFlorNueva"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="columna">
        <div class="seccion-form">
          <h5>¿De qué color es la flor a registrar?</h5>
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  @if (nombreColorSeleccionado) {
                  {{ nombreColorSeleccionado }}
                  } @else { Color }
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  @for (c of listaDeColores; track c.codigo_color) {
                  <button
                    ngbDropdownItem
                    type="button"
                    (click)="
                      $event.stopPropagation();
                      setCodigoColor(c.codigo_color, c.nombre)
                    "
                  >
                    {{ c.nombre }}
                  </button>
                  } @empty {
                  <button ngbDropdownItem [disabled]="true">Cargando...</button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="seccion-form">
          <h5>¿Cuál es el tipo de flor de corte a registrar?</h5>
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  @if(especieFlorSeleccionada) {
                  {{ especieFlorSeleccionada }}
                  } @else { Tipo de flor de corte }
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  @for (f of listaDeFlores; track f.id_flor_corte) {
                  <button
                    ngbDropdownItem
                    type="button"
                    (click)="
                      $event.stopPropagation();
                      setFlor(f.id_flor_corte, f.genero_especie)
                    "
                  >
                    {{ f.genero_especie }}
                  </button>
                  } @empty {
                  <button ngbDropdownItem [disabled]="true">Cargando...</button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      (click)="agregarACatalogo()"
      class="btn btn-success boton-aceptar"
    >
      Aceptar
    </button>
  </form>
</div>
