<div class="titulo-form">
  <h1>Mercado internacional de flores</h1>
</div>

<div class="formulario-catalogo-floristeria">

  <div class="fondo-subtitulo">
    <h3>Catalogo de floristeria</h3>
  </div>

  <form class="insert-flor-catalogo-floristeria">
    <h4>Datos iniciales</h4>
    <div>
      <h5>Para que floristeria desea ingresar una flor en el catalogo?</h5>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
              Floristeria
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Interflora</button>
              <button ngbDropdownItem>Floraqueen</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h4>Datos de la flor de corte</h4>
    <div class="seccion-form">
      <h5>Ingrese nombre propio</h5>
      <input class="form-control" id="entradatextonombre" placeholder="Nombre" type="text" />
    </div>

    <div class="seccion-form">
      <h5>Cual es el tipo de flor de corte a registrar?</h5>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
              Especie de flor de corte
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Rosa (Rosa spp.)</button>
              <button ngbDropdownItem>Girasol (Helianthus)</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="seccion-form">
      <h5>De que color es la flor a registrar?</h5>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
              Color
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Rojo</button>
              <button ngbDropdownItem>Amarillo</button>
              <button ngbDropdownItem>Naranja</button>
              <button ngbDropdownItem>Verde</button>
              <button ngbDropdownItem>Rosado</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="seccion-form">
      <h5>Precio inicial(unitario)</h5>
      <input class="form-control" type="number" placeholder="Precio" min="0" step="0.01" />
    </div>

    <button type="button" class="btn btn-success boton-aceptar">Aceptar</button>
  </form>
</div>

<router-outlet />
